.contactContainer {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'inter', sans-serif;
        max-width: 800px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;

  }
  
  .title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: #4CAF50;
    margin-top: 30px;
  }
  
  .paragraph {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
  }
  
  .boldText {
    font-weight: bold;
    color: #333;
  }
  
  .link {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .formGroup {
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
  }
  
  .label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
  }
  
  .input, .textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  .Link{
    display: flex;
    padding: 1rem;
  }
  .img{
    width: 33vw;
}

@media screen  and (min-width: 700px){
    .img{
        width: 14vw;
    }
    .contactContainer{
        margin-top: -1%;
    }
    
  }