
.Modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.ModalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100vw;
  height: 40vh;
  border-radius: 10px;
}
.ModalContent__p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
}

.UpdateModal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.UpdateModalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80vw;
  height: 40vh;
  border-radius: 10px;
}

.DeleteModal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.UpdateModalContent{
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80vw;
  height: 30vh;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DeleteModalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80vw;
  height: 30vh;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
}


.DeleteModalButtons{
display: flex;
justify-content: center;
gap: 2rem;
margin-top: 2rem;
  
 
}
.updateModalButtons{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
    
   
  }
.buttonB{
  background-color: #fff;
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  width: 30vw;
height: 5vh;

}
.buttonB:hover{
background-color: gray;
}

.buttonA{
  background-color: #367af5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  width: 30vw;
height: 5vh;
}

.pendente {
  color: orange;
}

.vencido {
  color: red; /* Exemplo de cor para "pago" */
}

.pago {
  color: green; /* Exemplo de cor para "pago" */
}

.container {
  padding: 20px;
  background-color: #D7E9FF;
}

.cardsContainer{
  background-color: #D7E9FF;

}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: absolute;
  top: 0;

  background: white;
  padding: 20px;

  width: 100%;
  height: 100%;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
.openModalContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: .5rem;
  border-radius: 8px;
}

.openModalContainer__button{
  background-color: #367AF5;
  border: 0;
  color: white;
  width: 80vw;
  border-radius: 5px;
  padding: .5rem;
  margin: 2rem;

}
.input{
  border: 1px solid gray;
}
.dateInput{
  width: 40vw;
  border-radius: 5px;
  padding: .4rem;
}
.shorterInput{
  width: 45vw;
  border-radius: 5px;
  padding: .4rem;
}
.biggerInput{
  width: 80vw;
  border-radius: 5px;
  padding: .5rem;
}
.openModalContainer__button{
  margin: 0 auto;
  cursor: pointer;
}
.cartClose {
  cursor: pointer;
  float: right;
}

.productTable {
  width: 100%;
  border-collapse: collapse;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #D7E9FF;
}
.tableContainer{

  margin-top: 20px;
}


.productTable th,
.productTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.productTable th {
  background-color: #F4F4FB;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
}

.pendente {
  color: rgb(214, 139, 0);
  font-weight: bold;
}

.pago {
  color: green;
  font-weight: bold;
}

.vencido {
  color: red;
  font-weight: bold;
}

.stylesTotalReceitas {
  background-color: #a0f5ce;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
}

.stylesTotalDespesas {
  background-color: #fdb1b1;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
}

.stylesDiferenca {
  background-color: #a4e2fb;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
}
.cardsContainer {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  gap: 1rem;
}
/* .buttonsContainer{
display: flex;
justify-content: space-evenly;
} */
.tableWrapper {
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;

}

.cell {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cell strong {
  color: #333;
}

.blockTD {
  display: flex;
}
.productTable{
  visibility: hidden;
}
.buttons{
  background-color: #0074E8;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 0;
  font-weight: 500;
  padding: .5rem;
  border-radius: 5px;
}
.buttonsStylesMobile{
  display: flex;
  flex-direction: column;
  gap: 2rem;

}
.selectContainer{
  display: flex;
  justify-content: space-between;
 
}
.buttonsContainerDesktop{
  visibility: hidden;
}
.buttonsContainerMobile{
  visibility: visible;
  
}
.inputMobile{
  width: 100%;
  padding: .5rem;
  border: 1px solid gray;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.inputDesktop{
  visibility: hidden;
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin-top: 2rem;
}
.tableContainer{
  display: none;
  background-color: #fff;
}

.filterContainer{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dateFilterInput{
  width: 40vw;
  border-radius: 5px;
  padding: .4rem;
}
.shorterFilterInput{
  width: 36vw;
  border-radius: 5px;
  padding: .4rem;
}
.filterContainer__button{
  background-color: #0074E8;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 0;
  font-weight: 500;
  padding: .5rem;
  border-radius: 5px;
  margin-top: 2rem;
}
.cartClose__img{
  width: 4vw;
  padding: 1rem;
}
@media only screen and (min-width: 700px) {
  .productTable{
    visibility: visible;
    background-color: #D7E9FF;
  }
  .tbody{
    background-color: #fff;

  }
  
  .cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .tableWrapper {
    display: none;
  }

  .tableContainer{
    display: flex;
    justify-content: center;
  }
  .buttonsContainerDesktop{
    visibility: visible;
    display: flex;
    justify-content: space-between;
  }
  .buttonsContainerMobile{
    display: none;
  }
  .cardsContainer{
    margin-bottom: 4rem;
  }
  .inputDesktop{
    visibility: visible;
    width: 25%;
    border: 1px solid gray;

    border-radius: 5px;
    padding: .5rem;
  }
  .inputMobile{
    display: none;
  }
  .buttonsStyles{
    display: flex;
    justify-content: space-between;
    width: 45%;
  }
  .buttons{
    cursor: pointer;
  }


  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 30vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Opcional: sombra para destacar o modal */
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  
  .cartClose {
    cursor: pointer;
    float: right;
  }
  
  .dateInput{
    width: 10vw;
    border-radius: 5px;
    padding: .4rem;
  }
  .shorterInput{
    width: 11vw;
    border-radius: 5px;
    padding: .4rem;
  }
  .biggerInput{
    width: 20vw;
    border-radius: 5px;
    padding: .5rem;
  }
  .openModalContainer__button{
    margin: 0 auto;

    width: 28vw;
    margin-top: 1rem;

  }
  .DeleteModalContent{
    width: 30vw;
  }
  .UpdateModalContent{
    width: 30vw;

  }
  .dateFilterInput{
    width: 15vw;
    border-radius: 5px;
    padding: .4rem;
  }
  .shorterFilterInput{
    width: 14vw;
    border-radius: 5px;
    padding: .4rem;
  }
  .cartClose__img{
    width: 1vw;
    padding: .5rem;

  }
  
  
}
