.heading{
    margin-top: 2rem;
}

.img{
    width: 33vw;
}

@media screen  and (min-width: 700px){
    .img{
        width: 14vw;
    }
    .p{
        width: 40vw;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        
    }
}