.button{
    background-color: #367af5;
    color: white;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    width: 45vw;
    height: 5vh;
}
.login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}
.login__img{
    width: 33vw;
}
@media screen  and (min-width: 700px){
    .button{
        background-color: #367af5;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        width: 15vw;
    height: 6vh;
    }
    .login__img{
        width: 14vw;
    }
}