.footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    color: black;
    font-family: 'inter', sans-serif;
}
.div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

     
}
.section{
    margin-bottom: 4rem;
    width: 80vw;
    
}
.linksUteis{
    display: flex;
    padding: 2rem;
    margin-top: -30%;
}
.BottomBannerDesktop{
    display: none;
}
.BottomBannerMobile{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
@media screen and (min-width: 700px ){
    .BottomBannerMobile{
        display: none;
      }
    .BottomBannerDesktop{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
      }
    .footer{
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20rem;

        
    }
    .section{
        width: 30vw;
    }
    .div{
        margin-bottom: 4rem;
    }
    .linksUteis{
   padding: 1rem;
        margin-top: -10%;
    }
}